$body-background-color: $background;
$link: $opennem-primary;
$opennem-invert: findColorInvert($opennem-primary);

$primary: $opennem-primary;
$primary-invert: $opennem-primary-invert;

$navbar-divider-background-color: $background;

$table-background-color: $background;
$table-head-cell-border-width: 1px 0;
$table-row-hover-background-color: $hoverable-background;

// $footer-background-color: $opennem-primary-alpha;
$footer-background-color: hsl(48, 100%, 67%);
