.amcharts-category-axis .amcharts-axis-label {
  text-anchor: start;
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    fill: #000;
    opacity: 1;
  }

  tspan {
    white-space: pre;
  }
}

.amcharts-value-axis .amcharts-axis-label {
  fill: rgb(0,0,0);
  text-shadow: 0 0 10px rgba(236, 236, 236, 0.5);
}