$button-background: hsla(0, 0%, 100%, 0.5);
$button-hover-background: hsla(0, 0%, 100%, 0.9);

.buttons {
  &:not(:last-child),
  &:last-child,
  .button {
    margin-bottom: 0;
  }
}

.button {
  border: none;
  background-color: $button-background;
  font-weight: 400;
  color: black;
  min-width: 62px;

  &.is-primary.is-inverted {
    background-color: $button-background;
  }

  &.is-small {
    font-size: 0.76rem;
    border-radius: 4px;
  }

  &:hover {
    background-color: $button-hover-background;
    color: black;
  }

  &.is-selected {
    border-color: black;
    background-color: black;
    color: #fff;
  }
}
