.range-interval-selectors {
  $breakpoint: 769px;

  .buttons {
    background-color: rgba(255, 255, 255, 0.5);

    @media screen and (min-width: $breakpoint) {
      background-color: transparent;
    }
  }

  @media screen and (min-width: $breakpoint) {
    padding: $app-padding / 2 1rem;
    padding-left: 0.4rem;
    display: flex;
    align-items: center;
  }

  .button {
    font-size: 11px;
    border-radius: 0;
    position: relative;

    &.is-rounded {
      min-width: 40px;
    }

    @media screen and (min-width: $breakpoint) {
      border-radius: 290486px;
    }

    .filter-caret {
      margin-left: 5px;
    }
  }

  .range-buttons {
    @media screen and (min-width: $breakpoint) {
      margin-bottom: 0;
      margin-right: 0.4rem;
    }
  }

  .filter-period-buttons {
    @media screen and (min-width: $breakpoint) {
      margin-left: 1rem;
    }
  }

  .dropdown-item {
    &.is-selected {
      background-color: #c74523;
      color: #fff;
    }
  }

  .filter-menu {
    min-width: 80px;
    text-align: left;
    display: block;
  }
}
