// Set your brand colors
$beige-light: #d0d1cd;
$beige-lighter: rgb(250, 249, 246);
$opennem-primary: #e34a33;
$opennem-link-color: #c74523;
$opennem-link-color-dark: #963f29;
$opennem-primary-rgb: rgb(199, 69, 35);

// Update Bulma's global variables
$font-stack: 'DM Sans', sans-serif;
$font-stack-2: 'DM Sans', sans-serif;
$family-serif: $font-stack;
$family-primary: $font-stack;
$family-secondary: $font-stack-2;
$header-font-family: $font-stack-2;

// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $opennem-link-color;
$link: $opennem-link-color;
$widescreen-enabled: false;
$fullhd-enabled: false;
$body-size: 14px;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 1px;
$input-shadow: none;
$border-style: 1px dotted #cdcdcd;

// padding
$app-padding: 1rem;
$facility-tablet-padding: 1.5rem;
$facility-mobile-padding: 1.2rem;

$row-hover: hsla(0, 0%, 100%, 0.55);
$background-alpha: rgba(236, 233, 230, 1);

$header-hover-radius: 4px;

// New Colours
$dark-grey: #353535;

$border-colour: #e5e5e5;
$toolbar-padding: 24px;
